.card{
    padding:20px;
    margin:10px;
    background:rgba(31, 39, 49, 1);
    border-radius:3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.card.header{
    
}
.card.header h1{
    margin:0;
}
.card.header .nav-item{
    margin:10px;
}


.card.sidebar{
    width:224px;
}
.card.sidebar hero-selector{
    margin-bottom:30px;
}
.card.sidebar hero-selector .hero-select{
    margin-bottom:10px;
    position:relative;
}
.card.sidebar hero-selector .hero-select .title{
    padding:10px;
    border:1px solid rgba(255,255,255,0.1);
    border-radius:2px;
}
.card.sidebar hero-selector .hero-select .options{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background:#34495e;
}
.card.sidebar hero-selector .hero-select:hover .options{
    display:initial;
}
.card.sidebar hero-selector .hero-select .options .option{
    padding:10px;
    border-left:3px solid transparent;
    cursor:pointer;
}
.card.sidebar hero-selector .hero-select .options .option:hover,
.card.sidebar hero-selector .hero-select .options .option.selected{
    border-left-color: #2980b9;
}

.card.sidebar hero-selector .abilities{
    margin-bottom:10px;
}
.card.sidebar hero-selector .abilities .ability{
    margin:0 5px 5px;
    width:40px;
    height:40px;
    background:white;
    border-radius:100%;
    border:3px solid rgba(0,0,0,0.2);
    cursor:pointer;
}
.card.sidebar hero-selector .abilities .ability:hover,
.card.sidebar hero-selector .abilities .ability.selected{
    border-color:#2980b9;
}
.card.sidebar hero-selector .description{
    margin-bottom:20px;
    padding:0 5px;
    font-size: 12px;
}
.card.sidebar button{
    margin-top:auto;
}


.card.content{
    
}
.card.content .video{
    height:300px;
    border:1px solid rgba(255,255,255,0.1);
    margin-bottom:20px;
    border-radius:2px;
}
.card.content .description{
    
}
